[submodule "scriptPad_firmware/libraries/pico-sdk"]
	path = scriptPad_firmware/libraries/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
	branch = 1.5.1
[submodule "scriptPad_firmware/libraries/FreeRTOS-Kernel"]
	path = scriptPad_firmware/libraries/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	branch = smp
[submodule "scriptPad_firmware/libraries/cJSON"]
	path = scriptPad_firmware/libraries/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "scriptPad_firmware/libraries/pico-filesystem"]
	path = scriptPad_firmware/libraries/pico-filesystem
	url = https://github.com/Memotech-Bill/pico-filesystem
[submodule "scriptPad_firmware/libraries/LVGL"]
	path = scriptPad_firmware/libraries/LVGL
	url = https://github.com/lvgl/lvgl
